@import "compass/css3";

:root {
  --menu-color: white;
  --icon-width: 18px;
  --icon-height: 3px;
  --button-BG-color: #E9DCFF;
  --app-BG-color: #1E1E1E;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: var(--app-BG-color);
  color: var(--menu-color);
}

#menu::before, #menu::after {
  box-sizing: border-box;
}

svg {
  display: inline-block;
  background: initial;
}

.btn1 {
  width: 60px;
  height: 60px;
  transition-duration: 0.5s;
  position: absolute;
  right: 0;
  z-index: 2;
  top: 0;
}

.btn1 .icon-left::after {
  transition-duration: 0.5s;
  position: absolute;
  width: var(--icon-width);
  height: var(--icon-height);
  background-color: var(--menu-color);
  content: "";
  top: 0;
}

.btn1 .icon-left::before {
  transition-duration: 0.5s;
  position: absolute;
  width: var(--icon-width);
  height: var(--icon-height);
  background-color: var(--menu-color);
  content: "";
  top: -10px;
}

.btn1 .icon-left {
  transition-duration: 0.5s;
  position: absolute;
  height: 0;
  width: 30px;
  top: 40px;
  background-color: var(--menu-color);
  right: 23px;
}

.btn1 .icon-right::after {
  transition-duration: 0.5s;
  position: absolute;
  width: var(--icon-width);
  height: var(--icon-height);
  background-color: var(--menu-color);
  content: "";
  top: 0;
}

.btn1 .icon-right::before {
  transition-duration: 0.5s;
  position: absolute;
  width: var(--icon-width);
  height: var(--icon-height);
  background-color: var(--menu-color);
  content: "";
  top: -10px;
}

.btn1 .icon-right {
  transition-duration: 0.5s;
  position: absolute;
  height: 0;
  width: 30px;
  top: 40px;
  background-color: var(--menu-color);
  right: 10px;
}

.btn1.open .icon-left::after {
  transform: rotateZ(-45deg) scaleX(1.2) translate(4px, -4px);
  top: 12px;
}

.btn1.open .icon-left::before {
  transform: rotateZ(45deg) scaleX(1.2) translate(4px, 4px);
  top: -12px;
}

.btn1.open .icon-left {
  transition-duration: 0.5s;
  background: transparent;
}

.btn1.open .icon-right::after {
  transform: rotateZ(45deg) scaleX(1.2) translate(-4px, -4px);
  top: 12px;
}

.btn1.open .icon-right::before {
  transform: rotateZ(-45deg) scaleX(1.2) translate(-4px, 4px);
  top: -12px;
}

.btn1.open .icon-right {
  transition-duration: 0.5s;
  background: transparent;
}
  

#hero-image {
  max-width: 94vw;
  margin-left: 6vw;
  margin-top: 1.5vh;
}

.overlay {
  height: 0%;
  width: 100vw;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: hidden;
  transition: 0.5s;
  position: absolute;
  font-size: 60px;
}

.overlay-content {
  position: relative;
  top: 10vh;
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  align-items: baseline;
}

.overlay a {
  padding: 5px 11px;
  text-decoration: none;    
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  margin: 0 3vw;
  border-radius: 7px;
  width: 90vw;
}

.overlay a:hover, .overlay a:focus {
  background-color: var(--button-BG-color);
  color: black;
}

#content {
  margin: 13vh 5vw 0;
}

div > p {
  color: var(--button-BG-color);
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

#content > h1 {
  font-size: 2.5rem;
}

div > button {
  background-color: var(--button-BG-color);
  color: var(--app-BG-color);
  padding: 11px 12px;
  border-radius: 7px;
  font-size: 1.3rem;
  margin: 15px 0;
  font-weight: 600;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.account-buttons > a {
  margin: 0;
}
@media screen and (min-width: 1300px) {
  #menu {
    display: none;
  }

  #myNav {
    height: 15vh;
  }

  .overlay-content {
    flex-direction: row;
    justify-content: center;
    top: 0;
    margin-top: 3.5vh;
    gap: 1rem;
  }

  .overlay-content  a {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    width: auto;
  }


  .overlay-content a:hover, .overlay-content a:focus {
    background-color: inherit;
    color: var(--button-BG-color);
  }


  .overlay {
    overflow: auto;
  }

  body > svg {
    width: 48px;
    height: 48px;
  }

  .account-buttons {
    margin-left: 11vw;
    flex-direction: row;
    gap: 0.9vw;
  }

  .account-buttons > a {
    background-color: var(--button-BG-color);
    color: initial;
    flex: 1;
    white-space: nowrap;
    width: 10vw;
    padding: 1.5vh 0;
    text-align: center;
    font-size: 1.4rem;
  }

  #content {
    max-width: 542px;
    margin-top: 40vh;
  }

  #content > p {
    font-size: 1rem;
    font-weight: 500;
  }

  #content > h1 {
    font-size: 3.2rem;
    font-weight: 600;
  }

  #content > button {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 25px;
  }

  #hero-image {
    position: absolute;
    max-width: 40vw;
    top: 20vh;
    right: 10vw;
  }
}